[Unit]
Description=Run Vacilada WS watchdog every 30 seconds
Requires=vacilada-ws-watchdog.service

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=5s
Unit=vacilada-ws-watchdog.service

[Install]
WantedBy=timers.target
